<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Age:</b>
  <%= @student.age %>
</p>

<p>
	<b>Photo</b>
<%= image_tag(@student.photo.avatar_url)  %>
</p>


<%= link_to 'Edit', edit_school_student_path(@school, @student) %> |
<%= link_to 'Back', school_students_path %>
