<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @school.address %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %> |
<%= link_to 'new student',  new_school_student_path(@school) %>
